.TC {
  min-width: 450px;
  min-height: 300px;
  padding: 30px;
  background-color: #3F4041;
  color: #98A5B3;
}
.TC__form-container {
  width: 450px;
  margin: auto;
}
.TC__form__input {
  padding-left: 15px;
  border-radius: 10rem;
  background-color: rgba(194,199,203,0.2);
  border: none;
  color: #C2C7CC;
}
.TC__form__input:hover {
  background-color: rgba(194,199,203,0.2);
}

.TC__form__input:focus {
  color: #C2C7CC;
  background-color: rgba(194,199,203,0.2);
}

.TC__form__label {
  color: #98A5B3;
}

.TC__form__button {
  width: 100px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  height: 35px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  transition: all .4s ease-in-out;
  border-radius: 10rem;
}

.TC__form__button:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}

.TC__form__calculate-button {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 2px 8px 0 rgba(65, 132, 234, 0.75);
}

.TC__form__clear-button {
  margin-left: 10px;
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #eb3941 , #f15e64);
  box-shadow: 0 2px 8px 0 rgba(236, 116, 149, 0.75);
}

.TC__form__note {
  color: #A1A9B3;
  font-size: 12px;
  padding-top: 10px;
}

.TC__form__note ul {
  list-style: none;
  padding-left: 0;
}

.TC__result {
  width: 600px;
  margin: auto;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #25aae1;
  background-color: #25aae1;
}
.TC .table {
  color: #98A5B3;
}

.table .TC--no-border {
  border: none;
}

.TC__result__table {
  font-size: 14px
}

.TC__result__table .TC__result__table__header-column {
  padding-left: 0;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.TC__result__table__header {
  font-size: 16px;
  font-weight: 500;
}

.TC__result__table__total-row {
  font-weight: bold;
  color: #ffffff;
}
.TC__result__table__result-row {
  width: 250px;
}
